@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
main section p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
main section .logo-lt {
  max-width: 100%;
  height: auto;
}
main section .boton {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
main section .boton:hover {
  letter-spacing: 3px;
  background-color: #7a0155;
  color: hsl(0, 0%, 100%);
  box-shadow: #7a0155;
}
main section .boton:active {
  letter-spacing: 3px;
  background-color: #7a0155;
  color: hsl(0, 0%, 100%);
  box-shadow: #7a0155;
  transform: translateY(10px);
  transition: 100ms;
}

.lista-cartas {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carta {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.carta .imagen-carta {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.carta .imagen-carta img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.carta .titulo-carta {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.carta:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.titulo-carta {
  color: white;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}
.pie-pagina {
  width: 100%;
  background-color: black;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h3 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #7E005C;
}

.pie-pagina .grupo-2 {
  background-color: black;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

.menu-nosotros h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.menu-nosotros p {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.seccion-dj {
  display: flex;
  margin-top: 20px;
}
.seccion-dj .imagen {
  width: 500px;
}
.seccion-dj .textos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.seccion-dj .textos h5 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.seccion-dj .textos p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.seccion-sonido {
  display: flex;
  margin-top: 20px;
}
.seccion-sonido .imagen {
  width: 500px;
}
.seccion-sonido .textos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.seccion-sonido .textos h5 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.seccion-sonido .textos p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.seccion-iluminacion {
  display: flex;
  margin-top: 20px;
}
.seccion-iluminacion .imagen {
  width: 500px;
}
.seccion-iluminacion .textos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.seccion-iluminacion .textos h5 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.seccion-iluminacion .textos p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.seccion-seguridad {
  display: flex;
  margin-top: 20px;
}
.seccion-seguridad .imagen {
  width: 500px;
}
.seccion-seguridad .textos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.seccion-seguridad .textos h5 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.seccion-seguridad .textos p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

@media all and (max-width: 600px) {
  .seccion-dj {
    flex-direction: column;
  }
  .seccion-sonido {
    flex-direction: column;
  }
  .seccion-iluminacion {
    flex-direction: column;
  }
  .seccion-seguridad {
    flex-direction: column;
  }
  .imagen {
    width: 200px;
  }
}
.formulario {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 300px;
  background-color: #2b3035;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  margin-top: 50px;
}
.formulario .titulo {
  color: #7a0155;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario input {
  outline: 0;
  border: 1px solid white;
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}
.formulario textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid white;
}
.formulario button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #7a0155;
  color: #fff;
  cursor: pointer;
}

.eventos .textos-eventos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.eventos .textos-eventos h6 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.eventos .textos-eventos .parrafo-evento {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.eventos img {
  width: 100%;
}

.parrafo-evento {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.frase-medio {
  margin-top: 30px;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fiesta-dj.jpg);
  background-size: cover;
  background-position: center;
}
.frase-medio .primer-frase {
  color: black;
  text-align: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.icono-whatsapp {
  position: fixed;
  right: 25px;
  bottom: 35px;
}

h6 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

/*# sourceMappingURL=style.css.map */
